<h2>Роли зрелого HR: кто ты бизнесу?</h2>
Этот опрос помогает понять, какую роль HR-функция реально играет в бизнесе сейчас: где она влияет на результат, а где остаётся на уровне процессов или поддержки.<br>
<br>
Чем выше оценка, тем более регулярно, системно и с большим влиянием это проявляется. 

<ol start="0">
<li>этого фактически нет или это не работает; </li>
<li>эпизодически</li>
<li>фрагментарно</li>
<li>формально есть</li>
<li>работает</li>
<li>системно</li>
<li>влияет на решения</li>
<li>это системно работает и даёт измеримый результат для бизнеса.</li>
</ol>

<br>