<h2>Роли зрелого HR: кто ты бизнесу?</h2>
Этот опрос помогает понять, какую роль HR-функция реально играет в бизнесе сейчас: где она влияет на результат, а где остаётся на уровне процессов или поддержки.

<h3 style="margin-top: 2px;margin-bottom: -2px;">Шкала ответов:</h3>

0 — совершенно не согласен,
10 — полностью согласен.
Промежуточные значения - это степень проявленности: чем выше оценка, тем более регулярно, системно и с большим влиянием это проявляется. <br>

<h3 style="margin-top: 2px;margin-bottom: -2px;">В результате вы увидите</h3>
<ul>
<li>какие роли сейчас доминируют в HR-функции</li>
<li>где есть перекосы</li>
<li>какие зоны ограничивают влияние HR на бизнес</li>
</ul>