{% extends "base.html" %}
{% block content %}
<h1>Согласие на обработку персональных данных</h1>
Я, субъект персональных данных, именуемый в дальнейшем «Пользователь», свободно, своей волей и в своем интересе, в соответствии со ст. 9 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных», даю свое согласие Индивидуальному предпринимателю Витальевой Вере Анатольевне (ИНН 772802849773), далее – LUDI-cons, на обработку моих персональных данных (далее – Согласие) при заполнении анкеты на веб-сайте https://ludi-survey.ru (далее – Сайт).
<br><br>
Я даю согласие на обработку следующих категорий моих персональных данных, добровольно предоставляемых мной путем заполнения соответствующих полей анкеты на Сайте: фамилия, имя, отчество; должность; место работы (наименование организации); адрес электронной почты; а также иные данные, которые я сознательно указываю в полях анкеты на Сайте.
<br><br>
Я даю согласие на обработку персональных данных исключительно с целью сбора и анализа предоставленных мной сведений в рамках функционирования анкетирования на Сайте LUDI-cons, включая связь со мной при необходимости.
<br><br>
Настоящее согласие предоставляется мной на осуществление действий с персональными данными, предусмотренных п. 3 ст. 3 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных», а именно: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), блокирование, удаление, уничтожение моих персональных данных, с применением средств автоматизации или без таковых.
<br><br>
Я проинформирован(а) о том, что LUDI-cons гарантирует обработку моих персональных данных в соответствии с действующим законодательством Российской Федерации.
<br><br>
Я проинформирован(а) о том, что данное согласие действует до достижения целей обработки моих персональных данных либо до момента его отзыва, и может быть отозвано в любой момент по моему письменному заявлению, направленному на адрес LUDI-cons.
<br><br>
Датой и временем формирования, подтверждения и предоставления данного согласия является нажатие на соответствующую кнопку («Отправить» / иной аналогичный элемент интерфейса) на странице Сайта после заполнения анкеты.
{% endblock %}