<!-- templates/HRvaluation.html -->
{% extends "base.html" %}

{% block content %}
<h1>Бизнес-ценность HR</h1>
Оценка влияния ценности HR для бизнеса (для СЕО, собственников и операционных директоров)<br>
Этот короткий опрос покажет, насколько управление людьми в компании помогает зарабатывать, или незаметно тормозит рост.<br>
Мы смотрим не на HR-процессы сами по себе, а на их влияние на скорость решений, управляемость и результат.<br>
Вы увидите общий балл и поймёте, где система «проседает»: структура, цели, найм, мотивация или данные.<br>
Это те зоны, где чаще всего компании теряют деньги, время и управляемость.<br>
По итогам вы получите краткий разбор с рекомендациями — в каких именно процессах есть проблемы и что нужно менять. <br><br>

<hr>
<div class="role-cards">
    {% for role_id, role_data in data["questions"].items() %}
    <a href="{{ url_for('survey', role=role_id, name="HRvaluation") }}{{ append_t_id }}" class="role-card">
        <h3>{{ data["roles"][role_id] }}</h3>
        <p>Нажмите, чтобы начать опрос {{ data["roles"][role_id] }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}