<!-- templates/role_select.html -->
{% extends "base.html" %}

{% block content %}
<h1>Индекс максимума команды</h1>
Это инструмент, который измеряет <br>
<b>Индекс максимума команды.</b><br><br>
Он создан компанией <a href="http://ludi-cons.ru/">LUDI</a>, чтобы вы смогли оценить, где ваша команда теряет эффективность. <br><br>

Опрос можно пройти индивидуально и в составе команды. Командные результаты суммируются для более полной картины. <br><br>

При заполнении опросника вы можете выбрать одну из двух ролей: сотрудник или руководитель. <br><br>

Прохождение опроса займет около 2-5 минут, там 25 вопросов по 5 категориям:
<ul>
<li>Целеполагание</li>
<li>Взаимодействие</li>
<li>Роли и вклад</li>
<li>Технологичность</li>
<li>Нормы и культура</li>
</ul>

Если ваша команда работает не на максимуме по каким-то категориям, мы пришлем рекомендации.<br>

Стремимся к командному максимуму ❤️<br><br>

<hr><br>

<h1>
    Выберите вашу роль
</h1>

<div class="role-cards">
    {% for role_id, role_name in roles.items() %}
    <a href="{{ url_for('survey', role=role_id) }}{{ append_t_id }}" class="role-card">
        <h3>{{ role_name }}</h3>
        <p>Нажмите, чтобы начать опрос {{ role_name }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}