<!-- templates/survey.html -->
{% extends "base.html" %}

{% block content %}

{% if not data.skip_role_selection %}
<h1>Роль: {{ roles[role] }}</h1>
{% endif %}

{% if preamble %}
<div class="container">
{{ preamble|safe }}
</div>
<br>
{% endif %}

<form action="{{ url_for('submit') }}{{ append_t_id }}" method="POST">
    <input type="hidden" name="role" value="{{ role }}">
    
    {% if data.need_team_data=="*" or data.need_team_data==role %}
    <div class="form-group">
        <label for="member_amnt">Укажите количество членов команды:</label>
        <input type="number" id="member_amnt" name="member_amnt" 
               placeholder="Кол-во человек, с которыми вы работаете напрямую">
        <label for="member_cost">Укажите среднюю стоимость сотрудника в вашей команде (руб в мес)? (Мы сможем посчитать итоги в рублях, это необязательно, но удобно.)</label>
        <input type="number" id="member_cost" name="member_cost" 
               placeholder="Рублей за месяц за человека">
        <label for="industry">* Выберите индустрию:</label>
        <select name="industry" id="industry" required>
            <option value="">--Выберите--</option>
            <option value="industrial">Промышленность и производство</option>
            <option value="farming">Сельское и лесное хозяйство</option>
            <option value="construction">Строительство и недвижимость</option>
            <option value="trading">Торговля и услуги для населения</option>
            <option value="finance">Финансы и страхование</option>
            <option value="logistics">Транспорт и логистика</option>
            <option value="it">IT и телекоммуникации</option>
            <option value="government">Государственный сектор и социальная сфера</option>
            <option value="services">Профессиональные и деловые услуги</option>
            <option value="other">Другое</option>
        </select>
    </div>
    {% endif %}

    {% if not data.question_response_type %}
        <div class="category-section" id="questions_container">
        {% for category_id, questions in role_config.items() %}
            {% if data.visible_categories %}
            <h2>{{ categories[category_id] }}</h2>
            {% endif %}
            {% for question in questions %}
            {% set question_index = loop.index0 %}
            <div class="question-item">
                <div class="question-text">{{ question }}</div>
                <div class="rating-scale">
                    {% for i in range(score_min, score_max+1) %}
                    <div class="rating-option">
                        <input type="radio" 
                            name="rating_{{ category_id }}_{{ question_index }}" 
                            value="{{ i }}" 
                            required>
                        <label>{{ i }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        {% endfor %}
        </div>
    {% elif data.question_response_type == "string" %}
        <div class="category-section" id="questions_container">
        {% for category_id,questions in role_config.items() %}
            {% if data.visible_categories %}
            <h2>{{ categories[category_id] }}</h2>
            {% endif %}
            {% for question,answers in questions.items() %}
            {% set question_index = loop.index0 %}
            <div class="question-item">
                <div class="question-text">{{ question }}</div>
                <div>
                    {% for response,score in answers.items() %}
                    <div class="rating-option-string">
                        <input type="radio" 
                        name="rating_{{ category_id }}_{{ question_index }}" 
                        value="{{ score }}"
                        required>
                        <label>{{ response }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        {% endfor %}
        </div>
    {% endif %}

    {% if open_questions %}
    <div class="category-section">
        <!--<h3>Вопросы на развернутые ответы</h3>-->
        {% for question in open_questions %}
        <div class="open-question">
            <label>{{ question }}</label>
            <textarea name="open_{{ loop.index0 }}" 
                      placeholder="Ответ..."></textarea>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <button type="button" onclick="getSpider()">Посмотреть предварительные результаты</button>
    
    <center>
        <div id="spider-chart-container" style="margin: 20px 0; display: none;">
            <img id="spider-chart" src="" alt="Spider Chart" style="max-width: 90%;">
        </div>
    </center>

    {% if not append_t_id %}
        <div class="spacing"></div>
        {% if not data.recommendation_text %}
        <h3>Оставьте контакты для 30-минутного разбора результатов</h3>
        <h4 style='margin-top: -20px'>На сессии обсудим ваш профиль по итогам диагностики и дадим рекомендации по следующим шагам.</h4><br>
        {% else %}
        {{ data.recommendation_text|safe}}
        {% endif %}
    
    
        <div class="form-group">
            <label for="respondent_company">* Компания:</label>
            <input type="text" id="respondent_company" name="respondent_company" 
                    placeholder="Компания" required>
            <label for="respondent_name">{% if require_name %}*{%endif%} ФИО:</label>
            <input type="text" id="respondent_name" name="respondent_name" 
                    placeholder="ФИО" {% if require_name %}required{%endif%}>
            <label for="respondent_job">{% if require_job %}*{%endif%} Должность:</label>
            <input type="text" id="respondent_job" name="respondent_job" 
                    placeholder="Должность" {% if require_job %}required{%endif%}>
            <label for="respondent_mail">{% if require_mail %}*{%endif%} E-mail:</label>
            <input type="email" id="respondent_mail" name="respondent_mail" 
                    placeholder="example@example.org" {% if require_mail %}required{%endif%}>
        </div>
        <div class="form-group">
            <input type="checkbox" id="consent-data" name="consent-data" required>
            <label for="consent-data" class="label-inline">* Даю <a href={{ url_for('agreement') }}>согласие</a> на обработку моих персональных данных</label>
        </div>
    {% endif %}
    <button type="submit">Отправить</button>
    {% if not append_t_id %}
    <h6>* - обязательное поле</h6>
    {% endif %}
    
    <script>
        function check_filled_required(){
            let allAreFilled = true;
            document.getElementById("questions_container").querySelectorAll("[required]").forEach(function(i) {
                if(!allAreFilled) return;
                if(!i.value) allAreFilled = false;
                if(i.type === "radio") {
                    let radioValueCheck = false;
                    document.getElementById("questions_container").querySelectorAll(`[name=${i.name}]`).forEach(function(r) {
                        if(r.checked) radioValueCheck = true;
                    })
                    allAreFilled = radioValueCheck;
                }
            })
            return allAreFilled
        }
        function getSpider() {
            if(!check_filled_required()){
                alert("Заполните все поля, чтобы получить результаты");
                return;
            }
            const ratings = {};
            const ratingInputs = document.querySelectorAll('input[type="radio"]:checked');
            
            ratingInputs.forEach(input => {
                if (input.name.startsWith('rating_')) {
                    ratings[input.name] = parseInt(input.value);
                }
            });
            
            fetch('/spider/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    role: document.querySelector('input[name="role"]').value,
                    ratings: ratings
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const container = document.getElementById('spider-chart-container');
                const img = document.getElementById('spider-chart');
                img.src = 'data:image/png;base64,' + data.image;
                container.style.display = 'block';
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Ошибка при получении предварительных результатов');
            });
        }
        function debugFill(){
            document.getElementById("questions_container").querySelectorAll("[required]").forEach(function(i) {
                if(i.type === "radio") {
                    document.getElementById("questions_container").querySelector(`[name=${i.name}]`).checked = true
                }
            })
        }
    </script>
</form>
{% endblock %}